body {
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: rgb(7, 254, 254);
  height: 100vh;
  font-style: oblique;
}
.card {
  background: hsla(282, 36%, 25%, 1);

  background: linear-gradient(
    90deg,
    hsla(282, 36%, 25%, 1) 0%,
    hsla(310, 22%, 37%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(282, 36%, 25%, 1) 0%,
    hsla(310, 22%, 37%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(282, 36%, 25%, 1) 0%,
    hsla(310, 22%, 37%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#492957", endColorstr="#744A6D", GradientType=1 );
}
